/* *{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main_box{
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}

#check{
    display: none;
}
.main_box .btn_one i{
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 30px;
    
}

.sidebar_menu{
    position: fixed;
    left: -500px;
    width: 20%;
    height: 100vh;
    box-shadow: 2px 2px 10px white;
    transition: all 0.5s ease-in-out;
}

.sidebar_menu .logo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 20px 20px 20px;
    line-height: 60px;
}

.sidebar_menu .btn_two i{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 90%;
    bottom: 95%;
    cursor: pointer;
}

.sidebar_menu .menu li {
    width: 100%;
}

.sidebar_menu .menu li i{
    color: white;
    margin:25px 10px 10px 5px;

} 
.sidebar_menu .menu li a{
    color: white;
    text-decoration: none;
}
.sidebar_menu .social_media
{
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.sidebar_menu .social_media i{
    color:rgba(255,255,255, 0.5);
    margin:0 10px 0 5px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 2px 2px 10px white;
}

#check:checked ~.sidebar_menu{
    left: 0;
}
#check:checked ~.btn_one{
    display: none;
}

.sidebar_menu .social_media i:hover{
    font-size: 20px;
    color: rgba(255, 255, 255,1);
}

.main_box .btn_one i:hover{
    font-size: 40px;
} */
